<div class="modal fade" id="agregarCombo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #agregarProductoModal>
    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Agregar Combo</h1>
          <button type="button" style="color: black;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-outlined">
            close
            </span>
          </button>
        </div>
        <div class="modal-body">
          <form class="pr-4 pl-4">
            <div class="mb-3">
              <label for="descripcion" class="col-form-label">Descripción:</label>
              <input type="text" class="form-control" id="descripcion" [(ngModel)]="combo.descripcion" name="descripcion">
            </div>
            <div class="mb-3">
              <label for="precio" class="col-form-label">Precio:</label>
              <input type="number" class="form-control" id="precio" [(ngModel)]="combo.precio" name="precio">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="agregarCombo()">Agregar combo</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden #close_modal></button>
  </div>