<div class="modal fade" id="listaProductosAcomp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #detalleProductoModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Lista de Productos</h1>
          <button type="button" style="color: black;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-outlined">
            close
            </span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngIf="acomProds.length == 0" class="pb-4">
              <div class="blankDiv">No hay Productos</div>
            </div>
            <div class="table-responsive mt-1" *ngIf="acomProds.length > 0">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Categoria</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let ap of acomProds; let i = index
                      "
                    >
                        <td>{{ i + 1 }}</td>
                        <td>{{ ap.nombre }}</td>
                        <td>{{ ap.categoria }}</td>
                    </tr>
                  </tbody>
                </table>
          
        </div>

      </div>
    </div>
</div>
  