.orden-title {
    transition: background-color 0.5s ease; /* Agrega la transición para el fondo en 0.5 segundos con efecto easing */
    color: black;
    text-align: left;
    padding: 15px;
}

.orden-title__number {
    font-size: 1.8rem;
}

.orden-title__timer {
    font-size: 1.1rem;
}

.orden-hora {
    font-weight: 500;
}

.orden-hora__hora {
    font-weight: normal;
}

.orden-tiempo-entrega {
    color: red;
}

.orden-tiempo {
    font-weight: 500;
}

.orden-producto {
    font-weight: bold;
}

.orden-subtitle-productos {
    font-weight: 500;
}

.divider {
    border: none;
    border-top: 1px solid #000000;
    margin: 10px 0;
}

.timer-green {
    background-color: #64d77f;
    color: black;
}

.timer-yellow {
    background-color: yellow;
    color: black;
}

.timer-orange {
    background-color: orange;
    color: black;
}

.timer-red {
    background-color: red;
    color: white;
}

.acomps, .combos {
    padding-left: 10px;
}

.title-acomps, .title-combos {
    font-weight: 600;
}

.list-acomps {
    list-style-type: circle;
    padding-left: 20px;
}

.list-combos {
    list-style-type: circle;
    padding-left: 20px;
}

.orden-producto {
    font-size: 1.1rem;
}

.title-nota-adicional {
    font-weight: 600;
}