.box-acomps {
    margin-top: 25px;
}

.list-acomp{
    position: relative;
    border: 1px rgb(220, 220, 220) solid;
    border-radius: 20px;
}

.list-scrolled {
    padding: 20px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow-y: auto;
}

.list-group-item {
    background-color: hsl(187, 75%, 76%);
    border-radius: 1rem;
    border: 1px solid hsl(187, 54%, 68%);;
    margin-bottom: 5px;

}