<div class="grid grid-cols-2 gap-2 sm:gap-4">
    <div class="col-span-2 md:col-span-1 flex flex-col md:flex-row md:items-center space-y-4 md:space-y-0 md:space-x-4 pr-10 mt-4">
      <input
        class="form-control"
        type="search"
        placeholder="Buscar pedido por código"
        aria-label="Search"
        [(ngModel)]="searchedString"
      />
      
      <!----
      <input
        class="form-control"
        type="search"
        placeholder="Buscar pedido por nombre del cliente"
        aria-label="Search"
        [(ngModel)]="searchedString2"
      />
      ---->
      
    </div>
    
  </div>
  <div *ngIf="ordenesPendientes.length == 0" class="pb-4">
    <div class="blankDiv">No hay Registros Disponibles</div>
  </div>
  <div *ngIf="isLoading" class="box-spinner">
    <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="table-responsive mt-4" *ngIf="ordenesPendientes.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Código</th>
          <th scope="col">Cliente</th>
          <th scope="col">Hora</th>
          <th scope="col">Tiempo estimado <hr style="border: 0;"> de entrega</th>
          <th scope="col">Detalle</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr
          *ngFor="
            let o of ordenesPendientes | search: 'codigo':searchedString; 
            let i = index
          "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ o.codigo }}</td>
            <td>{{ o.cliente.nombre }} {{o.cliente.apellidos}}</td>
            <td>{{ formatearFecha(o.fecha_orden)}}</td>
            <td>{{ o.tiempo_entrega == null ? '-' : o.tiempo_entrega}}</td>
            <td style="text-align: center; color: #0d6efd;">
              <span class="material-icons-outlined icon-detalle" 
              data-bs-toggle="modal" 
              data-bs-target="#detallePedido"
              (click)="detallePedido(o)"
              >visibility</span>
            </td>
            <td>S/ {{ o.total | number:'1.2-2'}}</td>
            <td style="display: flex; column-gap: 10px;">
              <button (click)="updateEstado(o.id_orden)" class="btn btn-cambiar-en-proceso" type="button">
                <span class="material-icons-outlined">
                  done
                </span>
              </button>
              <button (click)="updateTiempoEntrega(o.id_orden)" class="btn btn-ingresar-tiempo" type="button">
                <span class="material-icons-outlined">
                  schedule
                </span>
              </button>
              <button (click)="cancelarOrden(o.id_orden)" class="btn btn-cancelar-pedido" type="button">
                <span class="material-icons-outlined">
                  cancel
                </span>
              </button>
              
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div></div>

<app-detalle-orden [orden]="orden"></app-detalle-orden>