<div class="modal fade" id="detallePedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #detallePedidoModal>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Pedido {{orden.codigo}}</h1>
          <button type="button" style="color: black;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-outlined">
            close
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 mb-4">
              <div class="card card-body py-3 box-shadow ">
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <th class="border-0 py-2 pl-0">Fecha del pedido:</th>
                          <td class="border-0 py-2 px-0">{{formatearFecha(orden.fecha_orden)}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Cliente - Teléfono</th>
                          <td class="border-0 py-2 px-0">{{orden.cliente == null ? '' : orden.cliente.nombre}} {{orden.cliente == null ? '' : orden.cliente.apellidos}} - {{orden.cliente == null ? '' : orden.cliente.celular}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Forma de entrega:</th>
                          <td class="border-0 py-2 px-0">{{orden.forma_entrega}}</td>
                        </tr>
        
                        <ng-container *ngIf="orden.id_forma_entrega == '2'">
                            <tr>
                                <th class="border-0 py-2 pl-0">Direccion:</th>
                                <td class="border-0 py-2 px-0">{{orden.direccion == null ? '' : orden.direccion.direccion}}</td>
                            </tr>
            
                            <tr>
                                <th class="border-0 py-2 pl-0">Referencia:</th>
                                <td class="border-0 py-2 px-0">{{orden.direccion == null ? '' : orden.direccion.lugar}}</td>
                            </tr>
                        </ng-container>
                        
                        <tr>
                            <th class="border-0 py-2 pl-0">Método de <hr style="border: 0;"> pago:</th>
                            <td class="border-0 py-2 px-0">{{orden.metodo_pago}}</td>
                        </tr>
                        <ng-container *ngIf="orden.id_metodo_pago == '1'">
                            <tr>
                                <th class="border-0 py-2 pl-0">Billete de <hr style="border: 0;"> pago:</th>
                                <td class="border-0 py-2 px-0">{{orden.billete_pago}}</td>
                            </tr>
                        </ng-container>
                        <tr>
                          <th class="border-0 py-2 pl-0">Puntos canjeados:</th>
                          <td class="border-0 py-2 px-0">{{orden.puntos_canjeados == null ? 0 : orden.puntos_canjeados}} pts</td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <th class="border-0 py-2 pl-0">Tiempo estimado de entrega:</th>
                          <td class="border-0 py-2 px-0">{{orden.tiempo_entrega == null ? '-' : orden.tiempo_entrega}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Estado:</th>
                          <td class="align-middle border-0">
                            <div [ngSwitch]="orden.estado">
                                <div *ngSwitchCase="1">
                                    <span class="badge text-bg-warning">Pendiente</span>
                                </div>
                                <div *ngSwitchCase="2">
                                    <span class="badge text-bg-info">En proceso</span>
                                </div>
                                <div *ngSwitchCase="3">
                                    <span class="badge text-bg-secondary">Preparado</span>
                                </div>
                                <div *ngSwitchCase="4">
                                  <span class="badge text-bg-info">En Camino</span>
                                </div>
                                <div *ngSwitchCase="5">
                                    <span class="badge text-bg-success">Completado</span>
                                </div>
                                <div *ngSwitchCase="6">
                                  <span class="badge text-bg-danger">Cancelado</span>
                                </div>
                                <div *ngSwitchDefault>
                                    <span class="badge text-bg-danger">Error</span>
                                </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 pl-0">Subtotal:</th>
                            <td class="border-0 py-2 px-0">S/ {{orden.subtotal | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Total Tapers:</th>
                          <td class="border-0 py-2 px-0">S/ {{(orden.total_tapers == null ? 0 : orden.total_tapers) | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 pl-0">Delivery:</th>
                            <td class="border-0 py-2 px-0">S/ {{(orden.direccion == null ? 0 : orden.direccion.comision) | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Descuento por puntos:</th>
                          <td class="border-0 py-2 px-0">- S/ {{(orden.descuento == null ? 0 : orden.descuento) | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                            <th class="border-0 py-2 pl-0">TOTAL:</th>
                            <td style="color: black; font-weight: 700;" class="border-0 py-2 px-0">S/ {{orden.total | number:'1.2-2'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <ng-container *ngIf="orden.comprobante_pago">
                  <table class="table mb-0">
                    <tbody>
                      <tr>
                        <th class="border-0 py-2 pl-0">Comprobante de pago:</th>
                        <td class="border-0 py-2 px-0 text-muted">{{orden.comprobante_pago}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </div>
            </div>
            <div class="col-12">
              
            </div>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nota</th>
                <th scope="col">Costo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of orden.productos; let i = index">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  <h3 class="font-size-sm mb-3">
                    <a class="nav-link producto-nombre">{{p.nombre}}</a>
                  </h3>
                  <ng-container *ngIf="p.acompanamientos != null">
                    <ul class="font-size-sm mt-n2 mb-2">
                      <li class="mb-0" *ngFor="let ma of categorizarPorTipoAcomps(p.acompanamientos);">
                        <span class="text-muted title-acomp">{{ma.tipo}}:</span>
                        <ul class="list-acomps">
                          <li *ngFor="let acomp of ma.acompanamientos">
                            {{acomp.acompanamiento}}<span style="font-weight: bold;">{{acomp.precio > 0 ? ": S/ " + (acomp.precio | number:'1.2-2') : ''}}</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="p.combos != null">
                    <ul class="font-size-sm mt-n2 mb-2">
                      <span class="text-muted title-combo">Combos:</span>
                      <li class="mb-0" *ngFor="let c of p.combos">
                        <ul class="list-combos">
                          <li>{{c.combo}}: <span style="font-weight: bold;">S/ {{c.precio | number:'1.2-2'}}</span></li>
                        </ul>
                      </li>
                    </ul>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="p.nota_adicional">
                    <span class="material-icons-outlined cursor-pointer icon-nota" (click)="verNotaAdicional(p.nota_adicional)" data-bs-toggle="modal" data-bs-target="#notaAdicionalModal">
                      message
                    </span>
                  </ng-container>
                  <ng-container *ngIf="p.nota_adicional == null">
                    <span>-</span>
                  </ng-container>
                </td>
                <td>
                    <h3 class="font-size-sm mb-3">
                      <a class="nav-link font-weight-bold">S/ {{calcularNuevoPrecioProducto(p.precio, p.acompanamientos, p.combos) | number:'1.2-2'}}</a>
                    </h3>
                  </td>
                <td>
                  <span class="quantity">{{p.cantidad}}</span>
                </td>
                <td>
                  <div class="text-nowrap"><strong>S/ {{(calcularNuevoPrecioProducto(p.precio, p.acompanamientos, p.combos) * p.cantidad) | number:'1.2-2'}}</strong></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="notaAdicionalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nota Adicional</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{nota_adicional}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#detallePedido">Regresar</button>
      </div>
    </div>
  </div>
</div>