<div class="modal fade" id="editarTipoAcomp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #agregarCategoriaModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Editar Tipo de Acompañamiento</h1>
          <button type="button" style="color: black;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-outlined">
            close
            </span>
          </button>
        </div>
        <div class="modal-body">
          <form class="pr-4 pl-4">
            <div class="mb-3">
              <label for="tip" class="col-form-label">Tipo:</label>
              <input type="text" class="form-control" id="tip" [(ngModel)]="tip" name="tip" >
            </div>
            <div class="mb-3">
              <label for="tip_sel" class="col-form-label">Tipo de selección:</label>
              <select
                [(ngModel)]="tip_sel"
                class="w-full focus:outline-none border rounded focus:border-blue-500 px-2 py-1"
                name="tip_sel">
                <option value="" disabled>--- Seleccionar ---</option>
                <option value="Multiple">Múltiple</option>
                <option value="Unica">Única</option>
              </select>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="tip_sel == 'Multiple'">
                <label for="limit" class="col-form-label">Límite de opciones:</label>
                <input type="number" class="form-control" id="limit" [(ngModel)]="limit" name="limit">
              </ng-container>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editarTipoAcomp()">Editar tipo de acompañamiento</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden #close_modal2></button>
  </div>