<div class="modal fade" id="editarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #agregarCategoriaModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Editar Categoría</h1>
          <button type="button" style="color: black;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-icons-outlined">
            close
            </span>
          </button>
        </div>
        <div class="modal-body">
          <form class="pr-4 pl-4">
            <div class="mb-3">
              <label for="nombre" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="nom" [(ngModel)]="nom" name="nom" >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editarCategoria()">Editar categoría</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden #close_modal2></button>
  </div>